@import "../styles/styles.scss";
.container {
  display: flex;
  max-width: 1024px;
  height: 100vh;
  .content {
    flex-basis: row wrap;
    justify-content: stretch;
    align-items: baseline;
    padding: 0rem 1rem;
    .sidebar {
      order: 1;
    }
    .children {
      width: 75vw;
      margin: auto 25%;
      order: 2;
    }
  }
}
