@import "../styles/styles.scss";
.sidebar {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  border-radius: 1;
  background-color: var(--white);
  transition: 0.8s ease;
  position: sticky;
  .toggleMenu {
    height: auto;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 9rem;
    border-left: 0;
    width: 6rem;
    position: absolute;
    outline: none;
  }
  .iconContainer {
    flex-flow: row wrap;
    div {
      display: inline;
    }
    img {
      margin: 0rem 0.25rem;
      align-items: baseline;
    }
  }
}
