@import "../styles/styles.scss";

.sidebar {
  flex-basis: column nowrap;
  background-color: transparent;
  position: fixed;
  .iconContainer {
    flex-flow: row wrap;
    img {
      margin: 0rem 0.25rem;
      align-items: center;
    }
  }
}
